@odoo-list-grey: #c6c6c6;

@table-bg-accent: #eef0f0;


table.o-list-view {

    cursor: pointer;

    thead {
        background-color: @odoo-list-grey;
        color: @odoo-main-text-color;
    }


    tfoot {
        background-color: @odoo-brand-primary;
        color: white;
    }

    .o-list-record-selector input {
        margin-left: 3px;
    }
}
